@import "tailwindcss";
@import '@fontsource-variable/geist';
@import '@fontsource-variable/geist-mono';

@theme inline {
  --font-sans: 'Geist Variable', sans-serif;
  --font-mono: 'Geist Mono Variable', monospace;
}

body {
  @apply m-0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-mono);
}
